/* base set up for colors */
body{
    background-color: #AAA1C8;
}

drop_down{
    background-color: #D5C6E0;
    border: none;
}

.form-container {
    display: flex;
    border-radius: calc(0.1 * 100px);
    box-shadow: 0px 4px 14px 0px rgba(70, 70, 70, 0.38);
    justify-content: space-around;
    background: #fff;
    font-size: 1rem;
}

button {
    background-color: #192A51;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

input{
    font-size: 16px;
    margin: 4px 2px;
    padding: 10px 20px;
}

/* text examples */
header{
    color: black;
    text-align: left;
    font-family: "Book Antiqua";
    font-size: 38px;
}

normal{
    color: black;
    text-align: left;
    font-family: "Book Antiqua";
    font-size: 16px;
}



